body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #0a0a0a url('../img/textura_red_neuronal.png') repeat center center;
  background-size: cover;
  color: #e0e0e0;
  min-height: 100vh;
}

.header, .footer {
  background-color: #111;
  padding: 1.5em 1em;
  text-align: center;
  border-bottom: 1px solid #00c3ff50;
  box-shadow: 0 0 10px #00c3ff30;
}

.footer {
  border-top: 1px solid #00c3ff50;
  border-bottom: none;
}

.nav {
  margin-top: 1em;
}

.nav a {
  margin: 0 15px;
  color: #00c3ff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav a:hover {
  text-shadow: 0 0 12px #00c3ff, 0 0 20px #00c3ff;
}

.main-content {
  padding: 3em 2em;
  text-align: center;
}

.bienvenida h2 {
  margin-bottom: 0.5em;
  font-size: 2em;
  color: #00c3ff;
}

.bienvenida p {
  font-size: 1.2em;
  color: #ccc;
}

input, button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

button {
  background-color: #00c3ff;
  color: #0a0a0a;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #009ac1;
}
